.timer_count {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(2, 2, 112, 0.352);
    border-radius: 2rem;
}

.timer_count img {
    padding-left: 8rem;
    height: 38rem;
}

.timer_count h2 {
    font-size: 80px;
    padding-top: 50px;
}

.timer_count h3 {
    padding: 20px;
    font-size: 50px;
    font-weight: 400;
}

.clock {
    font-size: 50px;
    float: right;
}

.limited_buy_btn {
    font-size: 30px;
    text-decoration: none;
    color: #000;
    background-color: rgb(208, 221, 250);
    border-radius: 20px;
    padding: 2px 50px;
    border: 1px solid grey;
}

.limited_buy_btn a {
    text-decoration: none;
    color: black;
}

.limited_buy_btn a:hover {
    scale: 1.1;
}

.limited_buy_btn:hover {
    /* background-color: rgb(149, 149, 255); */
    color: black;
    font-weight: 500;
    scale: 1.1;
}

.clock-wrapper {
    display: flex;
    align-items: center;
    gap: 5;
    font-size: 32px;
}

.fs-1 {
    padding: 30px;

}

.col-md-6:last-child {
    display: flex;
    justify-items: center;
}

.col-md-6:last-child .huaweiImg {
    width: 6rem;
    height: 6rem;
    margin-top: 25rem;
    padding:0px;
}

.col-md-6 .limitedPriceOld {
    text-decoration: line-through;
    font-size: 50px;
}

.limitedPriceNew {
    font-size: 60px;
    color: red;
    text-shadow: 2px 2px 3px black;
}
