.nav_wrapper {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.logo {
    display: flex;
}

.logo img {
    width: 6rem;
    height: 6rem;

}

.logo-text {
    margin-top: 2%;
}

.logo-text h3 {
    font-size: 30px;
    font-weight: 700;
    color: black;
    text-shadow: 1px 1px 9px grey;
}

.logo-text a {
    text-decoration: none;
    color: black;
}

.logo-text p {
    font-size: 15px;
    text-shadow: 1px 1px 9px black;
    text-decoration: none;
}

.logged {
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
}

.logged li {
    display: flex;
    color: black;
    padding: 0.8rem;
    text-decoration: none;

}

.favorites-icon,
.total-icon {
    margin-top: 0.8rem;

}

.favorites-icon a,
.total-icon a {
    text-decoration: none;
}

.favorites-icon i {
    font-size: 30px;
    color: rgba(255, 0, 0, 0.507);
    cursor: pointer;
}

.favorites-icon i:visited {
    font-size: 30px;
    color: rgba(255, 0, 0, 0.507);
    cursor: pointer;
}

.total-icon i {
    text-decoration: none;
    font-size: 30px;
    color: rgb(98, 107, 202);
}


.nav-wrapper ul li {
    display: block;

}

.nav_item a {
    text-decoration: none;
    color: black;
}

.nav_item a:active {
    color: black;
    text-shadow: 1px 1px 9px grey;
    scale: 1.2;
}

.totalQty {
    height: 22px;
    font-size: 14px;
    background-color: black;
    color: white;
    padding: 1px 6px;
    border-radius: 100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.452);
}

.logout {
    cursor: pointer;
    padding: 0.5rem;
    font-size: 26px;
    font-weight: 700;
    border: 2px dotted;
    border-radius: 2rem;
    margin: auto auto auto 20px;
}

.profile {
    display: block;
    padding: 1.4rem;
    margin-bottom: -25rem;
}

.profile a {
    text-decoration: none;
    color: black;
}

.profile img {
    padding: 10px;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 90rem;

}

.favorite-products {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: 20% 20% 20%;
    gap: 2rem;
    justify-content: center;
    padding-top: 3rem;
}