.main {}

.hero_section {
    background-color: rgb(208, 221, 250);
}

.hero_section {
    width: 100%;
    background-image: url('../assets/images/backtround-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_content {
    margin-top: 5vh;
    padding: 100px;
    text-align: left;
    color: wheat;
    /* color:rgba(2, 2, 112, 0.454); */
    font-weight: 500;

}

.hero_img img {
    float: right;
}

.hero.content p {
    color: whitesmoke
}

.hero_section h2 {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 3rem;
}

.buy_btn {
    background-color: rgb(208, 221, 250);
    border-radius: 20px;
    padding: 2px 20px;
    border: 1px solid grey;
}

.buy_btn:hover {
    background-color: rgb(149, 149, 255);
    color: white;
    font-weight: 500;
    scale: 1.01;
}


.container {
    max-width: 80%;
}

.section_title {
    text-align: center;
    padding: 30px;
    font-size: 40px;
    font-weight: 600;
    color: rgba(2, 2, 112, 0.708);
}
