.product-details-title {
    width: 50%;
    font-size: 30px;
    color: red;
}

.product-details {
    padding: 10rem;
    display: flex;
    margin: auto;
    width: 80%;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.452);
}

.product-details .right-side {
    width: 50%;
    padding: 5rem;
}

.product-details .left-side {
    width: 50%;
    text-align: center;
}

.product-details .left-side img {
    width: 60%;
    height: auto;
    text-align: left;
}

.product-rating {
    font-size: 20px;
}

.product-price {
    border-radius: 3rem;
    padding: 10px;
    font-size: 70px;
    font-weight: 500;
}

.right-side .buy_btn {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    background-color: rgb(208, 221, 250);
    border-radius: 20px;
    padding: 2px 20px;
    border: 1.3px solid grey;

    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.452);

}

.right-side .buy_btn:hover {
    background-color: rgb(149, 149, 255);
    color: white;
    font-weight: 500;
    scale: 1.1;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.452);

}

.tab-section {
    width: 80%;
    margin: auto;
}

.tab-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.tab_content {
    margin-top: 20px;
    border: 4px dotted;
    border-radius: 2rem;
}

.tab_content p {
    margin: 20px;
}

.reviews_list span {
    display: block;
    padding: 10px;
    font-weight: 500;
    font-style: italic;
}

.reviews_list span i {
    padding: 10px;
    font-size: 25px;
}


.review_form {
    margin: auto;
    padding: 20px;
    margin-top: 3rem;
    border: 4px dotted;
    border-radius: 2rem;
}

.review_form h4 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.form_group {
    margin-bottom: 10px;
}

.form_group input:focus {
    outline: none;
}

.form_group textarea {
    width: 60%;
    border: 2px solid;
    padding: 10px;
    border-radius: 2rem;

}

.form_group input {
    border: 2px solid;
    padding: 5px 10px;
    border-radius: 2rem;
}

.form_group a {
    padding: 5px;
    cursor: pointer;
}

.form_group a:hover {
    border: 1px solid black;
    border-radius: 2rem;
}

.related-title h3 {
    padding-bottom: 3rem;
    text-align: center;
    font-size: 40px;
}

.related-products {
    border-radius: 2rem;
    box-shadow: inset 2px 2px 10px black;
    padding: 30px;
    scale: 0.8;
}