.product_img img {
    width: 80%;
}

.product_img {
    text-align: center;
}

.product_img img {
    /* float: left; */
    padding: 0px 20px;
    height: 280px;
    object-fit: scale-down;
}

.product_item:hover {
    scale: 1.05;
    transition: all .3s ease-in-out;
}

.product_item {
    border-radius: 30px;
    border-style: dashed;
    line-height: 1.2rem;
    padding: 20px;
}

.product_name a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 3px grey;
}

.product_desc {
    display: block;
    font-weight: 500;
    font-style: italic;
    padding: 1rem;
}

.product-card-bottom {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.product-card-bottom button {
    border: none;
    background-color: white;
}


.product-card-bottom .add-icon i {
    cursor: pointer;
    font-size: 36px;
    float: right;
}

.product-card-bottom .add-icon .ri-add-circle-line:hover {
    color: rgba(2, 2, 112, 0.525);
}

.product-card-bottom .price {
    color: rgb(237, 197, 123);
    font-size: 35px;
    font-weight: 600;
    padding-right: 20%;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.ri-add-circle-line {
    font-size: 40px;
    border-radius: 200px;
    cursor: pointer;
}

.product-card-bottom .add-icon .ri-heart-add-line:hover {

    color: rgba(255, 0, 0, 0.507);
}