.trending_products .container {
    min-width: 90%;
}

.trending_products .container .row .col-lg-10 {
    margin: auto;
}

.products_list {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    gap: 50px;
}

.new-arrivals {
    margin-bottom: -25rem;
}